# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Aula01.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Vitor Lima\Projetos\FloripaMaisTech\Semana10\Aula01\.idea\.idea.Aula01.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
